:root {
  --main-bg-color: #f0e4c5;
  --primary: #7e969e;
  --primary: #7090a3;
  --heading-font-fam: "Outfit", sans-serif;
  --p-font-fam: "Zilla Slab", serif;
}

body {
  background-color: var(--main-bg-color);
}

p,
a {
  font-family: var(--p-font-fam);
  font-size: 18px;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: var(--primary);
  font-family: var(--heading-font-fam);
  font-weight: 900;
}

.container {
  display: grid;
  padding: 10px;
  grid-template-columns: 150px auto;
  grid-gap: 30px;
}

.toc {
  position: sticky;
  top: 0;
  align-self: start;

  > ul {
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    transition: background ease 0.2s, color ease 0.2s;
  }
}

.is-active {
  background-color: #a30c00;
  color: white;
  font-weight: 400;
  text-decoration: none;
}
